@keyframes navbarTop {
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes navbarTopLogo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rightNavbar {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes navMobile {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes form {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes packAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes aboutAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes photoScroll {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loginFormAnim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes signUpFormAnim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}